.container{
    color: #28A745;
    background-color: black;
    
}
.table{
    
    background-color: yellow;
}

.footer{
    text-align: center;
    color: rgb(11, 11, 178);
    
    
    
  } 

  .bg-green{
    background-color: #28A745;
}